* {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background-color:whitesmoke;
}

    main {
        padding: 1rem;
        /* border-radius: 0.5rem; */
    }

        .input-container {
            border: 0.15rem solid #85A8FE;
            padding: 1rem;
            border-radius: 0.5rem;
        }
        
        .contact-box {
            background-color: #85A8FE;
            padding: 1rem;
            border-radius: 0.5rem;    
        }